.container {
  border-radius: .5em;
}

.card_container {
  display: flex;
  gap: 1em;
  height: 100%;
  min-width: max-content;
  align-items: center;
  padding-inline: 1em;
}

.container, .card_container {
  transition: all .5s;
}

.container:hover {
  filter: brightness(1.15);
}

.container:hover > .card_container {
  padding-block: 1.25em;
}

.title {
  align-self: center;
}

.icon {
  display: flex;
  font-size: 1.75em;
}

.icon svg {
  align-self: center;
}

.white {
  color: #EEE;
}